# PROXMOX PROVIDER CONFIGURATION
NC_REGION           = ""    # Set Proxmox VE region ID: 'mk', 'ur', 'tu'
PM_API_TOKEN_ID     = ""    # Set Proxmox API token
PM_API_TOKEN_SECRET = ""    # Set Proxmox API secret
PM_TLS_INSECURE     = "true"
PM_DEBUG            = "true"
PM_LOG_ENABLE       = "true"
PM_LOG_LEVEL        = "debug"

# VM CONFIGURATION
vm_name     = "nc-vm"   # VM name
username    = "user"   # VM user
password    = "password"    # VM password
public_key  = ""    # SSH key
